@scope (.user-card) {
  :scope {
		text-align: center;
		max-width: 40vw;
		display: block;
		flex: 0 0 auto;
		background-color: dimgray;
		overflow: hidden;
		margin-bottom: 16px;
		padding: 8px;
		border-radius: 10px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	.container {
		display: flex;
	}

	.lhs {
		width: 25%;
	}

	.rhs {
		width: 75%;
	}

	.lhs img {
		width: 100%;
		height: 100%;
		border-style: none;
	}

	@media (prefers-color-scheme: light) {
		:scope {
			background-color: azure;
		}
	}
}